{% extends 'base.html' %}

{% block header %}

<title>Download CSV File from Database Table </title>
{% endblock %}

{% block content %}

<div class="container alert-success form-style mt-3">
  <H4 class="text-center">Export Data from Database Tables</H4>
  <div class="col col-md-6 offset-3 my-2 py-3">
    <form action="{% url 'exportdata' %}" method="POST" required>
      {% csrf_token %}
      <div class="form-group">
        <label for="model_name" class="">Select Data Base Table </label>
        <select name="model_name" class="form-control" required>
          <option value="" disabled selected>Select</option>
          {% for model in custom_models %}
            <option value="{{model}}">{{model}}</option>
          {% endfor %}
        </select>
      </div>
      <br/>
      <input type="submit" value="Export Data" class="btn btn-success">
      <br>
      {% include 'alerts.html' %}
    </form>
  </div>
</div>

{% endblock %}