{% extends "base.html" %}
{% load static %}
{% block header %}
<title>Automating With Django </title>
<style>
  .height200 {
    min-height: 150px;
  }

  .button-wrapper {
    margin: 12px 0;
    width: 100%;
    text-align: center; /* Center the button horizontally */
  }
</style>
{% endblock%}

{% block content %}

<div class="container text-center">
  <div class="row align-items-start mt-5">
<!-- Import Card -->
    <div class="col">
      <div class="card alert-primary shadow">
        <div class="card-header">
          Import Data
        </div>
        <div class="card-body height200">
          <h5 class="card-title">Import CSV data to database</h5>
          <p class="card-text">Upload a csv file, making sure that you have a corresponding database table for each csv header.  
            Your CSV data will be uploaded to a database
          </p>
        </div>
        <div class="button-wrapper">
          <a href="{% url 'importdata' %}">
            <button type="button" class="btn btn-primary">Import Data</button>
          </a>
        </div>
      </div>
    </div>
<!-- Export data Card -->
    <div class="col">
      <div class="card alert-success">
        <div class="card-header">
          Export Data
        </div>
        <div class="card-body height200">
          <h5 class="card-title">Export data to CSV file from database</h5>
          <p class="card-text">The data from available database tables is selectable from a drop down.  
            The resultant csv file will be emailed to the logged in user</p>
        </div>
        <div class="button-wrapper">
          <a href="{% url 'exportdata' %}">
            <button type="button" class="btn btn-success">Export Data</button>
          </a>  
        </div>
      </div>
    </div>
<!-- New Info Card -->
    <div class="col">
      <div class="card alert-info">
        <div class="card-header">
          Bulk Emails 
        </div>
        <div class="card-body height200">
          <h5 class="card-title">Send Bulk Emails to Mailing Lists</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="button-wrapper">
          <a href="{% url 'send_email' %}">
            <button type="button" class="btn btn-info">Send Emails</button>
          </a>
        </div>
      </div>
    </div>
</div>
<!--SECOND ROW-->
<br/><br/>
<div class="row align-items-start">
<!-- New Info Card -->
  <div class="col">
    <div class="card alert-warning shadow">
      <div class="card-header">
        Email Tracking
      </div>
      <div class="card-body">
        <h5 class="card-title">Track Emails </h5>
        <p class="card-text">Track Sent Email via Bulk Sending App for Click Rate and Open Rate</p>
      </div>
      <div class="button-wrapper">
        <a href="{% url 'track_dashboard' %}">
          <button type="button" class="btn btn-warning">Track Emails</button>
        </a>
      </div>
    </div>
  </div>
<!-- New Info Card -->
  <div class="col">
    <div class="card alert-dark">
      <div class="card-header">
        Compress Images
      </div>
      <div class="card-body">
        <h5 class="card-title">Reduce Image Size for Storage</h5>
        <p class="card-text">Upload and select quality, then reduce image size without losing the quality. </p>
      </div>
      <div class="button-wrapper">
        <a href="{% url 'compress' %}">
          <button type="button" class="btn btn-dark">Compress Images</button>
        </a>
      </div>
    </div>
  </div>
<!-- New Info Card -->
  <div class="col">
    <div class="card alert-secondary ">
      <div class="card-header">
        Web Scraping
      </div>
      <div class="card-body">
        <h5 class="card-title">Scrape Websites</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="button-wrapper">
        <a href="{% url 'exportdata' %}">
          <button type="button" class="btn btn-secondary">Let's Scrape</button>
        </a>
      </div>
    </div>
  </div>

</div>

<!--row ends-->

</div>


 
{% endblock %}
